[submodule "src/Test.Support"]
	path = src/Test.Support
	url = git@git.analit.net:root/test-support
[submodule "src/Common.Models"]
	path = src/Common.Models
	url = git@git.analit.net:root/common-models
[submodule "src/Common.MySql"]
	path = src/Common.MySql
	url = git@git.analit.net:root/common-mysql
[submodule "src/Common.Tools"]
	path = src/Common.Tools
	url = git@git.analit.net:root/common-tools
[submodule "src/Common.Web"]
	path = src/Common.Web
	url = git@git.analit.net:root/common-web
[submodule "src/SmartOrderFactory"]
	path = src/SmartOrderFactory
	url = git@git.analit.net:root/smartorderfactory.git
