<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="local" connectionString="User Id=root; Server Parameters=&quot;--basedir=.;--datadir=.;--innodb=OFF&quot;; Embedded=True; Database=data"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
