<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net>
		<appender name="File" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="..\proxy.log" />
			<appendToFile value="true" />
			<encoding value="UTF-8" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="File" />
		</root>
	</log4net>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<!-- очередная мистика что-то в Microsoft.Owin.Host.SystemWeb меняет конфигураци и TransferRequestHandler перестает обрабатывать delete -->
			<!-- если создать конфигурацию в ручную то этого не произойдет -->
			<remove name="ExtensionlessUrl-Integrated-4.0" />
			<add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
</configuration>