<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
		Language="1049"
		Codepage="1251"
		Name="$(var.Setup.Product)"
		Version="$(var.Setup.Version)"
		Manufacturer="$(var.Setup.Publisher)"
		UpgradeCode="22DC7E87-F9E2-463F-9811-E0C53779C644">

		<Package
			InstallPrivileges="limited"
			InstallerVersion="200"
			Compressed="yes" />

		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Property Id="INSTALLFOLDER">
			<RegistrySearch Key="Software\Microsoft\$(var.Setup.Product)" Root="HKCU" Type="raw" Id="APPLICATIONFOLDER_REGSEARCH" Name="Path" />
		</Property>

		<Feature Id="ProductFeature" Title="$(var.Setup.Product)" Level="1">
			<ComponentRef Id="ApplicationFiles" />
			<ComponentRef Id="ShareFiles" />
			<ComponentRef Id="CharsetsFiles" />
			<ComponentRef Id="EnglishFiles" />
			<ComponentRef Id="AppShortcut" />
			<ComponentRef Id="SampleData" />
			<ComponentRef Id="Clean" />
		</Feature>
		<Property Id="ARPNOREPAIR" Value="no" Secure="yes" />
		<Property Id="ARPNOMODIFY" Value="no" Secure="yes" />
		<Property Id="ALLUSERS" Secure="yes" />
	</Product>

	<Fragment>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="Clean" Guid="a92aa9da-ae4e-4f65-acb4-f8c1faddb2a8">
				<RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Setup.Product)" Name="Path" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="$(var.Setup.Product)">
					<Component Id="AppShortcut" Guid="*">
						<Shortcut Id="ApplicationStartMenuShortcut"
							Name="$(var.Setup.Product)"
							Description="$(var.Setup.Product)"
							Target="[INSTALLFOLDER]Analitf.Net.Client.exe"
							WorkingDirectory="INSTALLFOLDER"/>
						<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
						<RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.Setup.Product)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
					</Component>
				</Directory>
			</Directory>
			<Directory Id="PersonalFolder">
				<Directory Id="AppPersonalFolder" Name="$(var.Setup.Product)">
					<Component Id="SampleData" Guid="*">
						<File Id="Sample_AppPersonalFolder" Source="Демонстрационная дефектура.csv" />
						<RemoveFolder Id="AppPersonalFolder" On="uninstall"/>
					</Component>
				</Directory>
			</Directory>
			<Directory Id="LocalAppDataFolder">
				<Directory Id="INSTALLFOLDER" Name="$(var.Setup.Product)">
					<Directory Id="share" Name="share">
						<Directory Id="english" Name="english" />
						<Directory Id="charsets" Name="charsets" />
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>
