<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<connectionStrings>
		<add name="solo" connectionString="Database=usersettings;Data Source=bd.sql.adc.analit.net;User Id=PrgDataSvc;Password=samepass;default command timeout=300;Allow user variables=true;convert zero datetime=yes;ConnectionLifeTime=600" />
		<add name="acdcserv" connectionString="Database=usersettings;Data Source=dbms2.adc.analit.net;User Id=PrgDataSvc;Password=samepass;default command timeout=300;Allow user variables=true;convert zero datetime=yes;ConnectionLifeTime=600" />
		<add name="frontrmt" connectionString="Database=usersettings;Data Source=rdbms.adc.analit.net;User Id=PrgDataSvc;Password=samepass;default command timeout=300;Allow user variables=true;convert zero datetime=yes;ConnectionLifeTime=600" />
	</connectionStrings>

	<system.web>
		<!-- текущий рейтинг отправки 1 позиция = ~1.5kb один клиент отправляет за раз 3200 позиций -->
		<httpRuntime maxRequestLength="400960" />
		<compilation debug="false" />
		<!--не нужно показывать исключения в сообщениях об ошибках-->
		<customErrors mode="On" />
	</system.web>

	<appSettings>
		<add key="UserFilter.PermissionShortcut" value="AnalitF.Net" />
		<add key="MaxProducerCostPriceId" value="4863" />
		<add key="MaxProducerCostCostId" value="8148" />
		<add key="Environment" value="Production" />
		<add key="RemoteExportPath" value="AnalitF.Net.Export" />
		<add key="LocalExportPath" value="U:\AnalitF.Net.Export\" />
		<add key="ResultPath" value="..\var\result" />
		<add key="UpdatePath" value="U:\WebApps\var\update" />
		<add key="PerUserUpdatePath" value="U:\WebApps\var\per-user-update" />
		<add key="CachePath" value="..\var\cache" />
		<add key="FailsafePath" value="..\var\failsafe" />
		<add key="AdsPath" value="U:\WebApps\PrgDataService\Results\Reclame" />
		<add key="AttachmentsPath" value="U:\WebApps\PrgDataService\Results\Attachments" />
		<add key="PromotionsPath" value="U:\WebApps\PrgDataService\Results\Promotions" />
		<add key="CertificatesPath" value="U:\WebApps\PrgDataService\Results\Certificates" />
		<add key="DocsPath" value="U:\AptBox" />
		<add key="BillingMail" value="afbilling@analit.net" />
		<add key="OfficeMail" value="afoffice@analit.net" />
		<add key="SupportMail" value="aftech@analit.net" />
		<add key="ResultTimeout" value="00:03:00"/>
		<!--Период времени в течении которого обновление считается актуальным и может быть передано клиенту повторно-->
		<add key="UpdateLifeTime" value="00:30:00"/>
		<!--1M максимальный размер файла с рекламой, файлы большего размера игнорируются-->
		<add key="MaxReclameFileSize" value="1048576" />
		<!--не удаляет подготовленные данные-->
		<!--<add key="DebugExport" value="true" />-->
		<add key="RegulatorRegistryPriceId" value="7277" />
	</appSettings>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>

	<system.net>
		<mailSettings>
			<smtp>
				<network host="box.analit.net" />
			</smtp>
		</mailSettings>
	</system.net>

	<log4net>
		<appender name="File" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="U:\Logs\AnalitF.Net.Service.log" />
			<appendToFile value="true" />
			<maximumFileSize value="1MB" />
			<encoding value="UTF-8" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} %property{username} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="ServiceEmail" type="log4net.Appender.SmtpAppender, log4net">
			<to value="service@analit.net" />
			<from value="service@analit.net" />
			<subject value="Ошибка в AnalitF.Net.Service" />
			<smtpHost value="box.analit.net" />
			<threshold value="ERROR" />
			<lossy value="false" />
			<bufferSize value="0" />
			<onlyFixPartialEventData value="true" />
			<layout type="log4net.Layout.PatternLayout, log4net">
				<conversionPattern value="Version: %property{Version}%nHost: %property{log4net:HostName}%nUserName: %property{username}%nDate: %date%n%m%n" />
			</layout>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="File" />
			<appender-ref ref="ServiceEmail" />
		</root>

		<logger name="AnalitF.Net.Service">
			<level value="WARN" />
		</logger>

		<logger name="AnalitF.Net.Service.Models.Exporter">
			<level value="DEBUG" />
		</logger>

		<logger name="NHibernate">
			<level value="OFF" />
		</logger>
	</log4net>
</configuration>
