<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<connectionStrings>
		<add name="local" connectionString="Database=usersettings;Data Source=testsql.analit.net;User ID=system;password=newpass;convert zero datetime=yes;Default Command Timeout=300;Connect Timeout=300;ConnectionLifeTime=300" />
	</connectionStrings>

	<system.web>
		<compilation debug="false" />
	</system.web>

	<appSettings>
		<add key="UserFilter.PermissionShortcut" value="AnalitF.Net" />
		<add key="MaxProducerCostPriceId" value="4863" />
		<add key="MaxProducerCostCostId" value="8148" />
		<add key="Environment" value="Production" />
		<add key="RemoteExportPath" value="\\acdcserv\TEST\var-test\export" />
		<add key="LocalExportPath" value="\\acdcserv\TEST\var-test\export" />
		<add key="ResultPath" value="U:\WWWRoot\TEST\var-test\result" />
		<add key="UpdatePath" value="U:\WWWRoot\TEST\var-test\update" />
		<add key="PerUserUpdatePath" value="U:\WWWRoot\TEST\var-test\per-user-update" />
		<add key="CachePath" value="U:\WWWRoot\TEST\var-test\cache" />
		<add key="AdsPath" value="U:\WebApps\PrgDataService\Results\Reclame" />
		<add key="AttachmentsPath" value="U:\WebApps\PrgDataService\Results\Attachments" />
		<add key="PromotionsPath" value="U:\WebApps\PrgDataService\Results\Promotions" />
		<add key="ProducerPromotionsPath" value="U:\WebApps\PrgDataService\Results\ProducerPromotions" />
		<add key="CertificatesPath" value="U:\WebApps\PrgDataService\Results\Certificates" />
		<add key="DocsPath" value="U:\AptBox" />
		<add key="OfficeMail" value="kvasovtest@analit.net" />
		<add key="BillingMail" value="kvasovtest@analit.net" />
		<add key="SupportMail" value="kvasovtest@analit.net" />
		<!--1M максимальный размер файла с рекламой, файлы большего размера игнорируются-->
		<add key="MaxReclameFileSize" value="1048576" />
	</appSettings>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>

	<system.net>
		<mailSettings>
			<smtp>
				<network host="box.analit.net" />
			</smtp>
		</mailSettings>
	</system.net>

	<log4net>
		<appender name="File" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="U:\WWWRoot\TEST\var-test\log\AnalitF.Net.Service.log" />
			<appendToFile value="true" />
			<maximumFileSize value="1MB" />
			<encoding value="UTF-8" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} %username [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="File" />
		</root>

		<logger name="AnalitF.Net.Service.Models.Exporter">
			<level value="DEBUG" />
		</logger>
	</log4net>
</configuration>
