<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>

	<connectionStrings>
		<!--<add name="local" connectionString="server=localhost; user=root; database=analitf_net;"/>-->
		<add name="client" connectionString="User Id=root;Charset=cp1251;Server Parameters=&quot;--basedir=.;--datadir=.;--innodb=OFF;--character_set_server=cp1251;--collation_server=cp1251_general_ci;&quot;;Embedded=True;Database=data"/>
		<add name="server" connectionString="server=localhost; user=root; database=customers;"/>
		<add name="local" connectionString="server=localhost; user=root; database=customers;"/>
	</connectionStrings>

	<appSettings>
		<add key="MaxProducerCostPriceId" value=""/>
		<add key="MaxProducerCostCostId" value=""/>
		<add key="RootPath" value="var\service"/>
		<add key="Environment" value="Development"/>
		<add key="ClientDocPath" value="var\client"/>
	</appSettings>

	<log4net>
	</log4net>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-99.9.9.9" newVersion="3.3.1.4000"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-99.9.9.9" newVersion="1.0.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-99.9.9.9" newVersion="3.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
