<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="local" connectionString="server=localhost; user=root; database=customers; convert zero datetime=yes; default command timeout=300;" />
	</connectionStrings>

	<appSettings>
		<add key="RootPath" value="var" />
		<add key="Environment" value="Development" />
	</appSettings>
</configuration>