<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--<add name="local" connectionString="server=localhost; user=root; database=customers; convert zero datetime=yes; default command timeout=300;" />
	-->
		<add name="local" connectionString="Database=usersettings;Data Source=testsql.analit.net;User Id=system;Password=newpass;Connect Timeout=300;convert zero datetime=yes;Default Command Timeout=300"/>

	</connectionStrings>

	<appSettings>
		<add key="DebugUser" value="31739" />
		<add key="RootPath" value="var" />
		<add key="Environment" value="Development" />
	</appSettings>
</configuration>