<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<connectionStrings>
		<add name="local" connectionString="Database=usersettings;Data Source=acdcserv.sql.adc.analit.net;User ID=PrgDataSvc;password=samepass;convert zero datetime=yes;Default Command Timeout=300;Connect Timeout=300;ConnectionLifeTime=300"/>
	</connectionStrings>

	<system.web>
		<compilation debug="false" targetFramework="4.0" />
	</system.web>

	<appSettings>
		<add key="MaxProducerCostPriceId" value="4863" />
		<add key="MaxProducerCostCostId" value="8148" />
		<add key="ExportPath" value="\\acdcserv\WWWRoot\TEST\var\export" />
		<add key="ResultPath" value="U:\WWWRoot\TEST\var\result" />
		<add key="UpdatePath" value="U:\WWWRoot\TEST\var\update" />
		<add key="AdsPath" value="\\acdcserv\WebApps\PrgDataService\Results\Reclame"/>
	</appSettings>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-99.9.9.9" newVersion="3.3.1.4000"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-99.9.9.9" newVersion="1.0.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<log4net>
		<appender name="File" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="U:\WWWRoot\TEST\var\log\AnalitF.Net.Service.log"/>
			<appendToFile value="true"/>
			<maximumFileSize value="1M" />
			<encoding value="UTF-8" />
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="File" />
		</root>

		<logger name="AnalitF.Net.Models.Exporter">
			<level value="DEBUG"></level>
		</logger>
	</log4net>

</configuration>
