<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<connectionStrings>
		<add name="local" connectionString="Database=usersettings;Data Source=localhost;User Id=root;Password=;Connect Timeout=300;convert zero datetime=yes;"/>
		<!--<add name="local" connectionString="Database=usersettings;Data Source=testsql.analit.net;User Id=system;Password=newpass;Connect Timeout=300;convert zero datetime=yes;Default Command Timeout=300"/>-->
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<appSettings>
		<add key="MaxProducerCostPriceId" value="" />
		<add key="MaxProducerCostCostId" value="" />
		<add key="ExportPath" value="..\data\export" />
		<!--<add key="ExportPath" value="\\fms\AFFiles" />-->
		<add key="ResultPath" value="..\data\result" />
		<add key="UpdatePath" value="..\data\update" />
		<add key="AdsPath" value="..\data\ads" />
	</appSettings>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<security>
			<authentication>
				<anonymousAuthentication enabled="false" />
				<windowsAuthentication enabled="true" />
				<basicAuthentication enabled="true" />
			</authentication>
		</security>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-99.9.9.9" newVersion="3.3.1.4000"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
				<bindingRedirect oldVersion="1.0.0.0-99.9.9.9" newVersion="1.0.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<log4net>
		<appender name="Console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="File" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="AnalitF.Net.Client.log"/>
			<appendToFile value="true"/>
			<encoding value="UTF-8" />
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<threshold value="ERROR" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="Console" />
			<appender-ref ref="File" />
		</root>

		<logger name="AnalitF.Net.Models.Exporter">
			<level value="DEBUG"></level>
		</logger>

		<!--<logger name="NHibernate.AdoNet.AbstractBatcher">
			<level value="DEBUG"></level>
		</logger>

		<logger name="NHibernate.SQL">
			<level value="DEBUG"></level>
		</logger>-->
	</log4net>
</configuration>
