<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<connectionStrings>
		<add name="local" connectionString="User Id=root;Charset=cp1251;Server Parameters=&quot;--basedir=.;--datadir=.;--innodb=OFF;--character_set_server=cp1251;--collation_server=cp1251_general_ci;&quot;;Embedded=True;Database=data" />
	</connectionStrings>

	<appSettings>
		<add key="Uri" value="http://localhost:8080/" />
		<add key="ClientDocPath" value="var" />
	</appSettings>

	<system.diagnostics>
		<!--<trace>
			<listeners>
				<add name="Console"></add>
			</listeners>
		</trace>-->

		<sharedListeners>
			<add name="Console" type="System.Diagnostics.ConsoleTraceListener"></add>
		</sharedListeners>

		<sources>
			<source name="System.Windows.Data" switchValue="Error">
				<listeners>
					<add name="Console"></add>
				</listeners>
			</source>
			<!--что бы дебажить запросы
			<source name="System.Net.Http" switchValue="All">
				<listeners>
					<add name="Console"></add>
				</listeners>
			</source>-->
		</sources>
	</system.diagnostics>

	<log4net>
		<appender name="Console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<appender name="File" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="AnalitF.Net.Client.log" />
			<appendToFile value="true" />
			<encoding value="UTF-8" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<threshold value="ERROR" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="Console" />
			<appender-ref ref="File" />
		</root>

		<!--<logger name="Caliburn.Micro">
			<level value="DEBUG" />
		</logger>-->

		<logger name="AnalitF.Net.Client">
			<level value="DEBUG" />
		</logger>

		<!--<logger name="NHibernate.AdoNet.AbstractBatcher">
			<level value="DEBUG"></level>
		</logger>

		<logger name="NHibernate.SQL">
			<level value="DEBUG"></level>
		</logger>-->
	</log4net>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Ionic.Zip" publicKeyToken="edbe51ad942a3f5c" />
				<bindingRedirect oldVersion="0.0.0.0-1.9.1.8" newVersion="1.9.1.8" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.6.0" newVersion="2.6.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.6.0" newVersion="2.6.6.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>
