<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<connectionStrings>
		<add name="local" connectionString="User Id=root;Charset=cp1251;Server Parameters=&quot;--basedir=.;--datadir=.;--innodb=OFF;--character_set_server=cp1251;--collation_server=cp1251_general_ci;&quot;;Embedded=True;Database=data" />
	</connectionStrings>

	<appSettings>
		<add key="Uri" value="https://ios.analit.net/AnalitF.Net.Proxy/" />
		<add key="AltUri" value="https://ios.analit.net/AnalitF.Net.Proxy/,https://ios.ivrn.net/AnalitF.Net.Proxy/,https://ios.ianalit.net/AnalitF.Net.Proxy/" />
		<add key="DiadokApiKey" value="Analit-988b9e85-1b8e-40a9-b6bd-543790d0a7ec" />
		<add key="DiadokUrl" value="https://diadoc-api.kontur.ru" />
	</appSettings>

	<system.diagnostics>
		<sharedListeners>
			<add name="log4net" type="AnalitF.Net.Client.Helpers.Log4netTraceListner, AnalitF.Net.Client" />
		</sharedListeners>

		<sources>
			<source name="System.Windows.Data" switchValue="Error">
				<listeners>
					<add name="log4net" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

	<log4net>
		<appender name="File" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="AnalitF.Net.Client.log" />
			<appendToFile value="true" />
			<maximumFileSize value="1MB" />
			<encoding value="UTF-8" />
			<rollingStyle value="Size" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{dd.MM.yyyy HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="ERROR" />
			<appender-ref ref="File" />
		</root>

		<logger name="AnalitF.Net.Client">
			<level value="INFO" />
		</logger>

		<logger name="NHibernate">
			<level value="OFF" />
		</logger>
	</log4net>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<!--
		в системе могут быть уже установлены другие компоненты devart в этом случа publisherPolicy заставит fusion их грузить
		но вероятность того что после этого приложение заработает стремится к нулю
		тк обратная совместимость для devart понятие достаточно филосовское

		даже если компоненты окажутся обратно совместимым не факт что приложение все равно заработает
		тк Devart.Data общая библиотека для всех средств работы с данными от devart
		те если установить коннектор для mssql он установит publisherPolicy для Devart.Data
		но Devart.Data.MySql будет использован тот который распростроняется с приложением
		и системный Devart.Data всего скорее будет не совместим с Devart.Data.MySql от приложения

		что бы избежать всей этой "радости" отключаем publisherPolicy
		-->
		<dependentAssembly>
			<assemblyIdentity name="Devart.Data"
				publicKeyToken="09af7300eec23701"
				culture="neutral" />
			<publisherPolicy apply="no"/>
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Devart.Data.MySql"
				publicKeyToken="09af7300eec23701"
				culture="neutral" />
			<publisherPolicy apply="no"/>
		</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
